.navbar {
    width:100vw;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #F9D88A;
    border: 1px solid red;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }

  .beelogo {
    height: 48px;
    min-width: 40px;
  }

  .renthivelogo {
    height: 34px;
    min-width:123px;
    margin-top:8px;
    margin-left:4px;
    margin-right: 32px;
  }
  
  .search-bar {
    margin-left: 8px;
    border:1px solid blue;
  }

  .search-bar i {
    position: absolute;
    left: 255px;
    top: 35px;
    transform: translateY(-50%);
  }

.logo img {
  height: 40px;
}

.search-bar {
  margin-left: 8px;
}

  .icons-container {
    width:fill;
    display: flex;
  }
  
  .icons {
    margin-left: 20px;
  }
  
  .icons i {
    margin-left: 20px;
    font-size: 24px;
  }

  .spacer {
    flex-grow: 1; /* Add flex-grow to create blank space */
  }
