.navbar {
    width:100vw;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #F9D88A;
    border: 1px solid red;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
  }
  
  .search-bar {
    margin-left: 8px;
    border:1px solid blue;
  }

  .search-bar i {
    margin-left:10px;
    margin-top:-100px;
    z-index: 1;
  }

.logo img {
  height: 40px;
}

.search-bar {
  margin-left: 8px;
}

  .icons-container {
    width:fill;
    display: flex;
  }
  
  .icons {
    margin-left: 20px;
  }
  
  .icons i {
    margin-left: 20px;
    font-size: 24px;
  }

  .spacer {
    flex-grow: 1; /* Add flex-grow to create blank space */
  }
